@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image: linear-gradient(100deg, #575656, #062e3f); */
    background-image: linear-gradient(100deg, rgb(87, 86, 86), rgb(6, 46, 63));
    color: rgb(255, 223, 219);
    overflow: hidden;
    min-height: 100vh;
    /* color: #fff; */
    /* padding: 20px; */
    /* color: #ffdfdb; */
    transition: 0.3s linear;
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    white-space: pre;
    letter-spacing: 0.20rem;
    max-width: 480px;
    font-size: 9rem;
    /* font-size: clamp(2.5rem, 10vw, 4rem); */
    font-size: 6.6rem;
    font-weight: lighter;
    user-select: none;
    /* white-space: nowrap; */
    overflow: hidden;
    margin-bottom: 20px;
    animation: animated-text 2s steps(11, end) 0.5s 1 normal both, animated-cursor 750ms steps(11, end) infinite;
}

@keyframes animated-text {
    from {
        width: 0%;
    }

    to {
        width: 480px;
    }
}

@keyframes animated-cursor {
    from {
        from {
            border-right-color: rgba(0, 0, 0, 0.75);
        }
    }

    to {
        border-right-color: transparent;
    }
}

.form,
.search-form {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    width: 100%;
}

#UserInput,
#SearchInput {
    background-color: #181a1a;
    color: rgb(247, 226, 223);
    /* color: #fff; */
    border: none;
    height: 40px;
    padding: 10px 15px;
    font-size: 17px;
    outline: none;
    width: 100%;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    flex: 1;
    transition: background-color 200ms ease-in-out;
}

#UserInput:hover,
#SearchInput:hover {
    background: rgb(0, 0, 0);
}

.button1,
.back-button {
    background-color: #F7D2EF;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    min-width: 120px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-button {
    background-color: #F7D2EF;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    min-width: 120px;
    border-radius: 15px;
    margin-top: 10px;
}

button:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

ul {
    display: grid;
    row-gap: 13px;
    align-items: center;
    text-align: left;
}

li {
    list-style-type: none;
    display: grid;
    text-align: left;
    padding-left: 20px;
    min-width: 10rem;
    height: 48px;
    background-color: #1C191F;
    border-radius: 30px;
    transition: background-color 200ms ease-in-out;
}

.todo-list {
    min-width: 25%;
}

.todo {
    margin: 1rem;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    /* margin-bottom: 20px; */
    /* width: 100%; */
    gap: 20px;
    margin-right: 3%;
    padding-top: 30px;
}

.theme-selector {
    border: 1px solid #d1dae3;
    border-radius: 100%;
    height: 35px;
    width: 35px;

    cursor: pointer;
    transition: tranform 150ms ease-in-out, box-shadow 200ms ease-in-out;
}

.theme-selector:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.black-theme {
    background-image: linear-gradient(100deg, #001214, #001f29);
}

.white-theme {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
}

.gray-theme {
    background-image: linear-gradient(100deg, #575656, #062e3f);
    ;
}

.search-bar {
    margin-top: 15px;
    display: none;
    width: 100%;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 20px;
    column-gap: 7px;
}

.EditInput {
    flex: 1;
    /* padding: 8px 12px; */
    padding: 5px;
    /* margin-right: 4px; */
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 16px;
    width: 190px;
    height: 30px;
}

.EditBtn,
.deleteBtn {
    border: none;
    background: #f8d7da;
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-size: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SaveBtn {
    width: 50px;
    height: 32px;
    /* padding: 6px 5px; */
    font-size: 13px;
    background: #F7D2EF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    /* margin-left: 2px; */
}

.CancelBtn {
    width: 54px;
    height: 32px;
    /* padding: 6px 5px; */
    font-size: 12.7px;
    background: #F7D2EF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    /* margin-left: 2px; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* @media (max-width: 1660px) {} */

/* @media (max-width: 1399px) {} */

/* @media (max-width: 1199px) {} */

/* @media (max-width: 991px) {} */

/* @media (max-width: 767px) {} */

@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }

    h1 {
        font-size: 5rem;
        letter-spacing: 0.10rem;
        max-width: 360px;
        /* max-width: 300px;
        height: 76px; */
    }

    .buttons{
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    #UserInput,
    #SearchInput {
        padding: 10px;
        font-size: 15px;
        width: 100px;
    }

    .button1,
    .back-button,
    .search-button {
        min-width: 100px;
        padding: 10px 15px;
        font-size: 15px;
    }
}



/* .white-theme-button {
    background-color: white;
}

.white-theme-input {
    background-color: #AEB1B4;
}

.white-theme-input:hover {
    background-color: #919699;
} */